<div class="page-header">
  <h1>Ведение семейного бюджета <small>умный</small></h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">Доходы</div>
          <table class="table">
            <%= render @plus_operations %>  
          </table><!-- доходы -->
        </div>        
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
          <div class="panel-heading">Расходы</div>
          <table class="table">
            <%= render @minus_operations %>  
          </table><!-- расходы -->
        </div>        
    </div>    
</div>