<p id="notice"><%= notice %></p>

<h1>Minus Operations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Sum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @minus_operations %>
    <tr>
      <td>Итого</td>
      <td></td>
      <td><%= calc_sum_of_mo @minus_operations %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>    
  </tbody>
</table>

<br>

<%= link_to 'New Minus Operation', new_minus_operation_path %>
