<p id="notice"><%= notice %></p>

<h1>Plus Operations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Sum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @plus_operations %>
    <tr>
      <td>Итого</td>
      <td></td>
      <td><%= calc_sum_of_po @plus_operations %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'Добавить денег', new_plus_operation_path, class: "btn btn-primary" %>
